<div data-element="details" data-type="container"> 
  <h2>Details</h2>

 <!--{{inputWithLabel "Display Label" "PropertyOnObject" }} -->
    {{inputWithLabel "Medicare #" "medicareNumber" }}
    {{inputWithLabel "Mobile" "MobilePhone" }}
    {{inputWithLabel "Home Phone" "HomePhone" }}
    {{inputWithLabel "e-mail" "email" }}
<input type="text" data-element="sex" placeholder="Contacts First Name" value="{{sex}}"/>


<!--</div>-->
  <input id="detailsSave"
       type="button"
       data-saveElement="details"
       value="Save" />
</div>
